.loginPage {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 18px;
}

.input-fields {
  display: flex;
  flex-direction: column;
  padding: 20px;
}

.input-fields input {
  margin: 5px;
}

.sign-in-btns {
  padding: 5px;
}
