.loginPage {
  display: flex;
  flex-direction: column;
  background: purple;
  align-items: center;
  padding: 18px;
}

.input-fields {
  display: flex;
  flex-direction: column;
  padding: 10px;
}

.input-fields input {
}

.sign-in-btns {
  padding: 5px;
}
